.nft {

    // .nft__container

    &__container {
        @media(max-width:1439px){
            flex-direction: column;
        }
        display: flex;
        align-items: center;
    }

    &__logo{
        @media(max-width:991px){
            max-width: 375px;
            width: 100%;
        }
    }

   

    // .nft__discription

    &__discription {
        @media(max-width:991px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    // .nft__title

    &__title {
    }

    // .nft__title-first-span

    &__title-first-span {
        background: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }

    // .nft__title-second-span

    &__title-second-span {
        background: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
    }

    // .nft__subtitle

    &__subtitle {
        @media(max-width:991px){
            font-size: 13px;
            line-height: 16px;
            max-width: 298px;
            width: 100%;
          }
    }

  
    
    // .nft__lines
    
    &__lines{
        &::after{
            content: 'PRODUCT 03';
        }
    }

    // .nft__btn
    &__btn{
        &::before{
            background: linear-gradient(31deg, #FF6C56 50%,#FF9344 50%);
        }
    }
}
