.token-roadmap {
    @media(min-width:1440px){
        display: block;
    }
    display: none;
    padding-bottom: 160px;
    // .token-roadmap__container

    &__container {
        text-align: center;
        position: relative;
    }

    // .token-roadmap__title

    &__title {
        font-family: $fontChakra;
        font-weight: 600;
        font-size: 61px;
        line-height: 79px;
    }

    // .token-roadmap__subtitle

    &__subtitle {
        font-weight: 500;
        font-size: 25px;
        line-height: 155%;
        margin-bottom: 100px;
    }

    // .token-roadmap__body

    &__body {
    }

    // .token-roadmap__cards

    &__cards {
    }
    &__card{
        position: absolute;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 500;
        max-width: 637px;
        width: 100%;
        background: #0D0D0D;
        box-shadow: 2px 2px 9px #91009D;
        border-radius: 50px;
        &:nth-of-type(1){
            bottom: 72%;
            left: 59%;
        }
        &:nth-of-type(2){
            bottom: 56%;
            left: -1%;
        }
        &:nth-of-type(3){
            bottom: 40%;
            right: -0.4%;
        }
        &:nth-of-type(4){
            bottom: 24%;
            left: -0.4%;
        }
        &:nth-of-type(5){
            bottom: 2%;
            right: 0.4%;
        }
        &:nth-of-type(6){
            bottom: -16%;
        }
        
    }
    &__column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-bottom: 2px solid #F09BBE;
        width: 100%;
        padding: 15px 0 20px 15px;
        &:nth-of-type(3){
            border-bottom: unset;
        }

    }
    &-name{
        font-family: $fontChakra;
        font-weight: 500;
        font-size: 37px;
        line-height: 48px;
        letter-spacing: 0.11em;
    }
    &-discription{
        font-size: 24px;
        line-height: 29px;
    }
    // MOBILE

    &-mobile{
        display: none;
        @media(max-width:1440px){
            display: block;
        }
        &__wrapper{}
        &__decor{
            display: flex;
            flex-direction: column;
            align-items: center;
            float: left;
        }
        &-line{
            position: relative;
                height: 156px;
            width: 5px;
            background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
            &::after{
                content: "STEP 1";
                writing-mode: vertical-rl;
                position: absolute;
                white-space: nowrap;
                font-family: $fontChakra;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.11em;
                left: 8px;
                top: 11px;
            }
        }
        &-circle{
            position: relative;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            transition: all .5s ease-in-out;
             &::after{
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 50%;
                padding: 6px;
                background: linear-gradient(45deg, #54D6FF, #F36AFF);
                -webkit-mask: 
                  linear-gradient(#fff 0 0) content-box, 
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude;
                pointer-events: none;
                transition: all .5s ease-in-out;
             }
        }
        &-circle.active {
            background: linear-gradient(45deg, #54D6FF, #F36AFF);
        }
    }
}

.token-roadmap-line {
}
