.fund-hero {
    background: url(../../img/Fund/Fund-hero/fund-hero.png) no-repeat center;
    background-position-y: 0%;
    
    padding-top: 125px;
    background-size: cover;
    @media(min-width:992px){
        background-position-x: 51px;
        padding-bottom: 300px;
    }
 


    // .fund-hero__container

    &__container {
        font-family: $fontChakra;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media(max-width:991px){
            align-items: center;
            padding-top: 289px;
            text-align: center;
        }
    }

    // .fund-hero__title

    &__title {
        background: linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-weight: 600;
        font-size: 120px;
        line-height: 100px;
        /* identical to box height, or 83% */
        max-width: 460px;
        width: 100%;
        margin-bottom: 21px;
        @media(max-width:991px){
            font-size: 60px;
            max-width: 210px;
            line-height: unset;
        }
    }

    // .fund-hero__title-up

    &__title-up {
    }

    // .fund-hero__title-down

    &__title-down {
        text-align: end;
    }

    // .fund-hero__subtitle

    &__subtitle {
        max-width: 465px;
        width: 100%;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 45px;
        @media(max-width:991px){
            font-size: 18px;
        }
        
    }

    // .fund-hero__button

    &__button {
        font-family: $fontMontserrat;
        font-weight: 600;
        font-size: 22px;
        padding: 18px 40px;
        max-width: 260px;
        width: 100%;
    }
}
