@import "fonts";

.main { 
	min-height: calc(100vh - 513px); 
	flex: 1 1 auto; 
   
	
  } 
   
  section { 
	margin-bottom: 100px; 
  } 
   
  //<МИКСИНЫ>=============================================================================================== 
//   @import "mixins"; 
  //</МИКСИНЫ>=============================================================================================== 
   
  //<ШРИФТЫ>=============================================================================================== 
   
  //<Подключаем шрифты>======================================================================================= 
  //&subset=cyrillic-ext 
  // @import ""; 
  @import "fonts"; 
  //</Подключаем шрифты>======================================================================================= 
   
  //<Иконочные шрифты>==========================================================================================
  @import "iconfonts"; 
  //</Иконочные шрифты>========================================================================================== 
   
  //<Шрифт по умолчанию>========================================================================================== 
//   $Montserrat: "Montserrat", sans-serif; 
  //</Шрифт по умолчанию>========================================================================================== 
   
  //</ШРИФТЫ>======================================================================================================= 
   
  //<ПЕРЕМЕННЫЕ>=========================================================================================================== 
  $minWidth: 320px; 
  $maxWidth: 1440; 
  $maxWidthContainer: 1530; 
  $md1: $maxWidthContainer + 12; 
  $md2: 992; 
  $md3: 768; 
  $md4: 480; 
  $bigcontainer: 1920; 
  //</ПЕРЕМЕННЫЕ>=========================================================================================================== 
   
  //<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================== 
  @import "null"; 
   
  body { 
	font-weight: 500; 
	font-size: 14px; 
  background: #000;
  color: #fff;
  font-family: $fontMontserrat;
  
	&._lock { 
	  overflow-y: hidden; 
	  position: fixed; 
	  top: 0; 
	  right: 0; 
	  left: 0; 
	  bottom: 0; 
	} 
  } 
   
  //</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================== 
   
  //<ОБОЛОЧКА>=========================================================================================================== 
  .wrapper { 
	width: 100%; 
	min-height: 100%; 
	overflow: hidden; 
	display: flex; 
	flex-direction: column; 
  } 
   
  //</ОБОЛОЧКА>=========================================================================================================== 
   
  //<ОСНОВНАЯ СЕТКА>=========================================================================================================== 
  ._container { 
	max-width: $maxWidthContainer + px; 
  width: 100%;
	margin: 0 auto; 
	padding: 0 15px; 
   
  @media(max-width:$maxWidth+px){
    padding: 0 35px; 
  }
	@media (max-width: $md2+px) { 
	  max-width: 750px; 
	} 
   
	@media (max-width: $md3+px) { 
	  max-width: none; 
	  padding: 0 15px; 
	} 
  } 
   
  //</ОСНОВНАЯ СЕТКА>=========================================================================================================== 
   
  //<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==================================================================================================== 
  @import "templates"; 
   
  //</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==================================================================================================== 
   
  //<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==================================================================================================== 
   
  @import "header"; 
  @import "footer"; 
  @import "./Main/hero.scss";
  @import "./Main//Idea/idea.scss";
  @import "./Main//Idea/idea-mobile.scss";
  @import "./Main/grant.scss";
  @import "./Main/future.scss";
  @import "./Main/nft.scss";
  @import "./Main/team.scss";
  @import "./Main/questions.scss";
  @import "./Main/media.scss";
  @import "./Main/contact.scss";
  // FUND
  @import "./Fund/fund-hero.scss";
  @import "./Fund/fund-hero.scss";
  @import "./Fund/fund-roadmap.scss";
  @import "./Fund/fund-questions.scss";
  @import "./Fund/fund-today.scss";













 
  //</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ
  
//   СТРАНИЦ И ЭЛЕМЕНТОВ==================================================================================================== 
   
  //<ОСНОВНОЙ БЛОК>==================================================================================================== 
  .page { 
	// padding: 90px 0px 0px 0px; 
	flex: 1 1 auto; 
  } 
   
  //=================================================================================================================================== 
   
  //</ОСНОВНОЙ БЛОК>====================================================================================================


