.button {
    padding: 18px 35px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    transition: all .10s ease-in-out;
    background-size: 100%;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    font-family: $fontMontserrat;
    &__contact {
        @media(max-width:525px){
            width: 100%;
            font-size: 15.6px;
            padding: 19px;
            max-width: 145px;
        }
       
        &::before{
            border-radius: inherit;
            background: linear-gradient(90deg, rgba(84,214,255,1) 13%, rgba(194,117,255,1) 56%, rgba(243,106,255,1) 92%);
            content: '';    
            display: block;
            height: 100%;
            position: absolute;
            top: 0; 
            left: 0;
            opacity: 0;
            width: 100%;
            z-index: -100;
            transition: opacity .3s;
        }
        @media(min-width:1280px){
            &:hover:before{
                opacity: 1;
            }
            
        }
        
        
       
    }

    // .button__buy

    &__buy {
        align-self: center;
        border: unset;
        padding: 18px 45px;
        background: linear-gradient(90deg, rgba(84,214,255,1) 13%, rgba(194,117,255,1) 56%, rgba(243,106,255,1) 92%);
        @media(max-width:525px){
            width: 100%;
            font-size: 15.6px;
            padding: 19px;
            max-width: 145px;
            
        }
        &::before{
            border-radius: inherit;
            content: '';    
            display: block;
            height: 100%;
            position: absolute;
            top: 0; 
            left: 0;
            opacity: 0;
            width: 100%;
            z-index: 2;
            transition: opacity .3s;
            background: unset;
        }
        &:hover:before{
            background: #A4FF44;
            opacity: 1;
        }
       
          
    }
};

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.discription{
    padding: 4px 23px 6px 54px;
    font-weight: 600;
    font-family: $fontMontserrat;
    background:
    linear-gradient(to right, #fff 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #fff 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #fff 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #fff 4px, transparent 4px) 0 100%;

  background-repeat: no-repeat;
  background-size: 70px 70px;
    &::before{
        content: '';
    }
    &::after{
        content: '';
    }
}

.title{
    font-size: 85px;
    line-height: 110px;
    letter-spacing: -0.02em;
    font-family: $fontChakra;
    margin-bottom: 25px;
    @media(max-width:991px){
        line-height: 39px;
        font-size: 27px;
        max-width: 258px;
    }
}
.subtitle{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 51px;
}
.btn{
    @media(max-width:991px){
        font-size: 15px;
        padding: 13px 20px;
        width: 245px;
        margin:  0 auto;
    }
    border-radius: 60px 0px;
    position: relative;
    width: 300px;
    text-align: center;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    color: #ffffff;
    padding: 22px 20px;
    svg{
        margin-left: 12px;
    }
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 60px 0;
        border: 3px solid transparent;
        color: #fff;
        background: linear-gradient(148.71deg, #b2ff0f 10.47%, #76ffef 88.29%);
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
  }
  
}
.decor{
    @media(max-width:1799px){
        flex-direction: column;
        align-items: center;
        gap: 35px;
      }
    @media(max-width:991px){
      flex-direction: column;
    }
    margin-top: 23px;
    display: flex;
    align-items: end;
   
    &__title{
        position: relative;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-weight: 400;
        font-size: 19px;
        font-family: $fontChakra;
        max-width: 100px;
        width: 100%;
        height: 59px;
        line-height: 130%;
    }
    &__lines{
        max-width: 400px;
        width: 100%;
        height: 1px;
        border-top: 2px dashed #fff;
        border-bottom: 2px solid #fff;
        padding: 12px 0;
        position: relative;
        &::after{
            content: 'PRODUCT 01';
            position: absolute;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-weight: 400;
            font-size: 19px;
            line-height: 180%;
            font-family: $fontChakra;
            right: -52px;
            bottom: 22px;
            @media(max-width:525px){
                right: -15px;
                font-size: 10px;
            }
        }
    }
    &__line{
        

    }
}
